* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    background-color: #1f2937;
    color: white;
}

header>h2 {
    font-size: 24px;
    font-weight: 900;
}

.container {
    display: flex;
    padding: 24px 150px;
}

.content {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    flex: 1;
    margin: 0 auto;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 12px;
    padding-bottom: 100px;
}

.hero-left>p,
.hero-left>h1 {
    max-width: 500px;
}

.hero-right {

    flex-basis: 500px;
}

.hero-right>img {
    width: 100%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}


.sign-up {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    width: 100px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
    padding: 24px;
    margin-bottom: 100px;
}

.info>h1 {
    margin: 12px;
}

.info-content {
    display: flex;
    gap: 12px;
}

.square {
    border: 3px solid #3882f6;
    height: 125px;
    width: 125px;
    border-radius: 8px;
    margin: 12px auto;


}

.caption {
    max-width: 150px;
    text-align: center;

}

.quote {
    background-color: #e5e7eb;
}

img {
    width: 50%;
    border-radius: 12px;
}

.quote {
    padding: 50px 100px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;

}

.quote>p+p {
    align-self: flex-end;
    font-size: 28px;
    font-style: normal;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-wrapper {
    background-color: #3882f6;
    color: white;
    display: flex;
    padding: 50px 100px;
    margin: 100px 20px;
    display: flex;
    border-radius: 6px;
    flex: 1;
    justify-content: space-between;
}

.cta-wrapper>button {
    border: 2px solid white;
    color: white;
    background-color: inherit;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 6px 24px;
    align-self: center;
}

.cta-wrapper>h3 {
    margin: 0;
}

ul {
    display: flex;
    gap: 12px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}